terraform {
  backend azurerm {
    resource_group_name  = "resource_group"
    storage_account_name = "storage_account"
    container_name       = "tfstate"
    key                  = "terraform.tfstate"
  }
}